DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario_mysql
DB_PASSWORD=clave_mysql
DB_NAME=bdcolegio_v1

PORT=3000

JWT_SECRET=clave_segura_generada

MAIL_USER=correo@gmail.com
MAIL_PASSWORD=clave_aplicacion

FRONTEND_URL=http://localhost:4200