# ===============================
# Dependencias
# ===============================
node_modules/


# ===============================
# Compilación NestJS
# ===============================
dist/
build/


# ===============================
# Variables de entorno
# ===============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# ===============================
# Archivos subidos por usuarios
# ===============================
uploads/


# ===============================
# Logs
# ===============================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# ===============================
# Testing
# ===============================
coverage/
.nyc_output/


# ===============================
# Sistema operativo
# ===============================
.DS_Store
Thumbs.db


# ===============================
# Editores
# ===============================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-workspace


# ===============================
# Archivos temporales
# ===============================
.temp/
.tmp/


# ===============================
# Runtime Node
# ===============================
pids/
*.pid
*.seed
*.pid.lock


# ===============================
# Reportes Node
# ===============================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json